<!DOCTYPE html>
<html lang="en">

<head>
    <title>Family Guy Theme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Help Stewie save Brian!</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Get started >> </a>
                    </li>
                    <li class="nav-item"><a href="https://cloud.google.com/free" class="nav-link">Google Cloud</a>
                    </li>
                    <li class="nav-item"><a href="https://guides.github.com/introduction/git-handbook/" class="nav-link">GIT</a>
                    </li>
                    <li class="nav-item"><a href="https://www.hostinger.com/tutorials/linux-commands" class="nav-link">Linux</a>
                    </li>
                    <li class="nav-item"><a href="https://docker-curriculum.com/" class="nav-link">Docker</a>
                    </li>
                    <li class="nav-item"><a href="https://blog.risingstack.com/getting-started-with-ansible-infrastructure-automation/" class="nav-link">Ansible</a>
                    </li>
                    <li class="nav-item"><a href="https://learn.hashicorp.com/collections/terraform/gcp-get-started" class="nav-link">Terraform</a>
                    </li>
                    <li class="nav-item"><a href="https://dzone.com/articles/getting-started-with-jenkins-the-ultimate-guide" class="nav-link">Jenkins</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to the DevOps Competition!</h1>
            <p class="line-1 anim-typewriter">Brian Griffin needs to be saved...can you be the one to help?</p>
            <br>
            </p>
            <button class="button"><a href=/pages/part1.html>Part 1</a></button>
            <button class="button"><a href=/pages/part2.html>Part 2</a></button>
        </div>
    </div>
    <div class="container">   
        <div class="row">
            <div class="col-lg-12">
                <h3 align=center>Vanishing Point - Part 4</h3>
                <br>
                <i>
                <p>With all the components in their hands, our boys get to work on the last part of fixing the time machine. Thought they enjoyed the time together, they are aware that this implies never seeing each other again - even if they are the same person!</p>
                <p>Help the boys assemble the time machine by clicking <a href="/pages/puzzle.html"> <b>HERE</b> </a></p>
            </div>
        </div>
    </div>
    <div class="t-machine">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <img src="/images/time-machine-75.gif">
                </div>            
            </div>
        </div>
    </div>
</body>
</html>
