<!DOCTYPE html>
<html lang="en">

<head>
    <title>Family Guy Theme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Help Stewie save Brian!</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Get started >> </a>
                    </li>
                    <li class="nav-item"><a href="https://cloud.google.com/free" class="nav-link">Google Cloud</a>
                    </li>
                    <li class="nav-item"><a href="https://guides.github.com/introduction/git-handbook/" class="nav-link">GIT</a>
                    </li>
                    <li class="nav-item"><a href="https://www.hostinger.com/tutorials/linux-commands" class="nav-link">Linux</a>
                    </li>
                    <li class="nav-item"><a href="https://docker-curriculum.com/" class="nav-link">Docker</a>
                    </li>
                    <li class="nav-item"><a href="https://blog.risingstack.com/getting-started-with-ansible-infrastructure-automation/" class="nav-link">Ansible</a>
                    </li>
                    <li class="nav-item"><a href="https://learn.hashicorp.com/collections/terraform/gcp-get-started" class="nav-link">Terraform</a>
                    </li>
                    <li class="nav-item"><a href="https://dzone.com/articles/getting-started-with-jenkins-the-ultimate-guide" class="nav-link">Jenkins</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to the DevOps Competition!</h1>
            <p class="line-1 anim-typewriter">Brian Griffin needs to be saved...can you be the one to help?</p>
            <br>
            </p>
            <button class="button"><a href=/pages/part1.html>Part 1</a></button>
            <button class="button"><a href=/pages/part2.html>Part 2</a></button>
            <button class="button"><a href=/pages/part3.html>Part 3</a></button>
        </div>
    </div>
    <div class="container">   
        <div class="row">
            <div class="col-lg-12">
                <h3 align=center>Vanishing Point - Part 4</h3>
                <br>
                <img class="img-left" src="/images/brian-hugs.png">
                <i>
                <p>Congratulations! You helped the boys finish their time machine properly! Finally, a motive to rejoice :D</p>
                <br>                  
                <p>The original Stewie needs to go back in time exactly in that morning that Brian left with Peter's car.</p>
                <p>With everything being said and done - our two Stewies say goodbye to each other and are thankful for the time spent together. Stewie sets the date in the machine and pushes the button with tears in his eyes.</p>    
                <p>For a split second, everything vanishes around him. It takes him a few seconds to realize that he has been teleported though time once again. He arrives safely in his house at the desired time.</p>
                <p>He rushed quickly to Brian and hugs him dearly. While he cannot explain what he as been through, Stewie insists that Brian does not leave the house that day at all.</p>
                
                <img class="img-right" src="/images/stewie-bag.png">
                <p>Brian understand that something bad must happen to him, so he listens for once and stays inside. But we do have another problem - because Stewie did not return to the exact time he left in the first place...he now faces the same problem as before. The Stewie of this time is also present.</p>
                <p>Once again, he has to tell the whole story to himself basically. So we have a Time Paradox on our hands! The only clear solution at this point would be for one of the Stewies to keep traveling in time - but must make sure he never meets himself ever again.</p>
                <p>They both hide out until the evening comes, making sure Brian is OK and indeed the accident is not really meant to happen - if it did, he would have been injured differently by now.</p>
                <p>Our Stewie decides that he will be the one to go and traveling through time - he always wanted to study Earth's History.</p>
                <p>The hardest part is the fact that he has to say goodbye again...but what he did is nothing short of incredible if you thing about it :)</p>
                <br>
                </i>
                
                <p>And that concludes our story! I am not sure if you even read it until now, but at least we are hoping that this competition/journey has taught you something about the various DevOps tools that we use. Keeping in mind that what you worked with - is the foundation for many other tools.</p>
                <p>So in conclusion, a DevOps Engineer's job can be rather dificult at times, because we always seek to automate things - but like Stewie's story - the journey is sometimes incredible as well :)</p> 
                <br>
                                  
            </div>
        </div>
    </div>
    <div class="t-machine">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <img src="../images/full-timemachine.png">
                </div>            
            </div>
        </div>
    </div>
</body>
</html>
