<!DOCTYPE html>
<html lang="en">

<head>
    <title>Family Guy Theme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Help Stewie save Brian!</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Get started >> </a>
                    </li>
                    <li class="nav-item"><a href="https://cloud.google.com/free" class="nav-link">Google Cloud</a>
                    </li>
                    <li class="nav-item"><a href="https://guides.github.com/introduction/git-handbook/" class="nav-link">GIT</a>
                    </li>
                    <li class="nav-item"><a href="https://www.hostinger.com/tutorials/linux-commands" class="nav-link">Linux</a>
                    </li>
                    <li class="nav-item"><a href="https://docker-curriculum.com/" class="nav-link">Docker</a>
                    </li>
                    <li class="nav-item"><a href="https://blog.risingstack.com/getting-started-with-ansible-infrastructure-automation/" class="nav-link">Ansible</a>
                    </li>
                    <li class="nav-item"><a href="https://learn.hashicorp.com/collections/terraform/gcp-get-started" class="nav-link">Terraform</a>
                    </li>
                    <li class="nav-item"><a href="https://dzone.com/articles/getting-started-with-jenkins-the-ultimate-guide" class="nav-link">Jenkins</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to the DevOps Competition!</h1>
            <p class="line-1 anim-typewriter">Brian Griffin needs to be saved...can you be the one to help?</p>
            <br>
            </p>
        </div>
    </div>
    <div class="container">   
        <div class="row">
            <div class="col-lg-12">
                <h3 align=center>Short Introduction - Story Time!</h3>
                <br>
                <img class="img-left" src="/images/peter-couch.png">
                <i>
                <p>It was a normal Sunday for Peter Griffin, watching his favourite TV shows on the couch with a slice of pizza in his hand. Suddenly he hears a loud noise outside in the street - a car has crashed and hit a nearby fire hydrant.</p>
                <p>Peter went outside to check if anyone is injured. As he approached the car, he realizes it was driven by his arch-nemesis Ernie the Giant Chicken! As the two lock eyes, a huge fight begins!</p>
                <p>As the two fight throughout the neighbourhood, they destroy everying in their paths. Eventually, Ernie backs away a little and steals a car to drive, but Peter is really determined to end his vendetta once and for all!</p>
                <p>So he grabs Joe's car and begins the chase at a blazing fast speed.As the chase progresses he approaches an intersection, but regardless of that he goes in at full speed.</p>
                <img class="img-right-p1" src="/images/peter-ernie.png" alt="">
                <p>Without paying any attention, he hits another car coming from the right and both cars end up totalled, while Ernie gets away.</p>
                <p>Peter emerges from the car with a lot of wounds, but alive nontheless. However he realizes that the car he his was none other than his own - Brian was driving it!</p>

                <p>Brian is rushed to the hospital as his injuries were much more serious and he is unresponsive. The doctors put Brian in a coma in order to help his body heal</p>
                <p>But as the days go by, Brian doesn't wake up from the coma anymore. Stewie watches his best friend slowly fade away.</p>

                <p>Determined to get his best friend back, Stewie goes to his room and activates his time machine going back in time 1 hour before the accident.</p>

                <p>He figures he can avoid this by having Peter not going outside to investigate what happened. Stewie modifies one of his laser guns to induce a sleeping effect when it hits someone and puts Peter in a deep sleep.</p>

                <p>This works apparently, as Ernie crashes his car - the cops arrive taking him away while Peter is knocked out.</p>

                <p>But several hours later, the family gets a call from Joe - Brian has been injured in a car accident and is currently as the hospital. Stewie cannot believe it - this is happening all over again!</p>

                <p>He goes back to the time machine to try a different tactic - stop Brian from leaving the house entirely. When he presses the Start button on the time machine, it suddenly goes up in smoke!</p>

                <p>After running diagnosis, it appears that the machine is fried entirely...and he needs to rebuild it!</p>

                <br>
                </i>
                <p>This is where you come in! In this competition, your role is to help Stewie Griffin rebuild his time machine by completing weekly DevOps tasks! And since you are already seeing this, congrats! You got to 25%! Or you just peeked in the code :P.</p>
                <b>Current time machine completion status is 25% - help Stewie get to 50% by completing next week's tasks!</b>                        
            </div>
        </div>
    </div>
    <div class="t-machine">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <img src="/images/time-machine-25.gif">
                </div>            
            </div>
        </div>
    </div>
</body>
</html>
